<ul>
        <%= image_tag "home.png", size: '30x30' %><h1 style="display:inline;">ホーム</h1><br>
        <%= image_tag "search.png", size: '30x30' %><h1 style="display:inline;">話題を検索</h1></i><br>
        <%= image_tag "notification.png", size: '30x30' %><h1 style="display:inline;">通知</h1></i><br>
        <%= image_tag "mail.png", size: '30x30' %><h1 style="display:inline;">メッセージ</h1></i><br>
        <%= image_tag "bookmark.png", size: '30x30' %><h1 style="display:inline;">ブックマーク</h1></i><br>
        <%= image_tag "list.png", size: '30x30' %><h1 style="display:inline;">リスト</h1></i><br>
        <%= image_tag "profile.png", size: '30x30' %><h1 style="display:inline;">プロフィール</h1></i><br>
        <%= image_tag "configration.png", size: '30x30' %><h1 style="display:inline;">設定</h1></i><br>
        <button type="button" class="btn btn-primary btn-lg"><%= link_to 'ツイートする', 'tweets/new' %> </button>
</ul>